body{
    background-color: rgb(192,192,192);;
}
button{
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
}
h1{
    color: black;
}
a.difficulty{
    cursor: default;
    padding: 2px;
}
a:hover{
    color: blue;
}
button{
    height: 16px;
    width: 16px;
}
.borderVertical{
    height: 16px;
    width: 10px;
}
.borderHorizontal{
    height: 10px;
    width: 16px;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mine-counter{
    display: flex;
    margin-right: auto;
    margin-left: 2px;
}
#timer{
    display: flex;
    margin-left: auto;
    margin-right: 2px;
}
#mine-counter img, #timer img{
    height: 23px;
    width: 13px;
}

a#reset{
    height: 26px;
    width: 26px;
    background: url('./images/Smiley.png') no-repeat center;
}
.row{
    height: 16px;
}
.headBorder{
    height: 26px;
    width: 10px;
}
.borderRow{
    height: 10px;
    padding-bottom: 4px;
    margin-top: -4px;
}
.dividerRow{
    height: 10px;
    margin-top: -4px;
    padding-bottom: 4px;
}
.blank{
    background: url('./images/Blank.png');
}