body{
    background-color: #918B8B;
    border-collapse: collapse;
}
button{
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
}
h1{
    color: black;
}
h2{
    color: black;
}
button{
    height: 16px;
    width: 16px;
}
a#reset{
    display: block;
    height: 26px;
    width: 26px;
    background: url('./images/Smiley.png') no-repeat center;
}
.row{
    height: 16px;
}
.blank{
    background: url('./images/Blank.png');
}