body{
    background-color: #918B8B;
    border-collapse: collapse;
}
button{
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
}
h1{
    color: black;
}
a.difficulty{
    text-decoration: underline;
    cursor: default;
}
a:hover{
    color: blue;
}
button{
    height: 16px;
    width: 16px;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(192,192,192);
}
#mine-counter{
    display: flex;
    align-content: center;
}
#timer{
    display: flex;
    align-content: center;    
}
span img{
    height: 23px;
    width: 13px;
}

a#reset{
    display: block;
    height: 26px;
    width: 26px;
    background: url('./images/Smiley.png') no-repeat center;
}
.row{
    height: 16px;
}
.blank{
    background: url('./images/Blank.png');
}